
/**
 * @author Jamie jamie.h@inwinstack.com
 */

.file-list  md-list-item > .md-list-item-inner > p {
  padding: 0 15px;
}

.checkbox-width {
  width: 55px;
}

.checkbox-icon-width {
  width: 100px;
}

.storage-class-title-width {
  width: 140px;
}

.storage-class-width {
  width: 135px;
}

.size-title-width {
  width: 84px;
}

.size-width {
  width: 110px;
}

.ratio-width {
  width: 220px;
}

.time-title-width {
  width: 220px;
}

.time-width {
  width: 225px;
}

.move-file-list {
  overflow: auto;
  max-height: 200px;
}

.move-list md-list-item {
  padding-left: 10px;
}

.icon-width {
  width: 40px;
}

.move-list-title{
  background: #e8e8e9;
}
