
/**
 * @author Jamie jamie.h@inwinstack.com
 */

.checkbox-icon-width {
  width: 100px;
}

.storage-class-title-width {
  width: 140px;
}

.storage-class-width {
  width: 156px;
}

.size-title-width {
  width: 84px;
}

.size-width {
  width: 100px;
}

.time-title-width {
  width: 220px;
}

.time-width {
  width: 225px;
}