
/**
 * @author Jamie jamie.h@inwinstack.com
 */

.checkbox-icon-width {
  width: 80px;
}

.storage-class-width {
  width: 140px;
}

.size-width {
  width: 84px;
}

.time-width {
  width: 270px;
}

.time-title-width {
  width: 286px;
}