<md-dialog class="user-dialog" aria-label="Sign Out">
  <form>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">Would you like to sign out without your upload?</h2>
      
      <div class="md-body-1">
        <p>You have in progress opreations or uploads and leaving now will cancel them. Still leaving?</p>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button class="md-primary" ng-click="@A.1"><span>Stay</span></md-button>
      
      <md-button class="md-warn" ng-click="@A.2"><span>Leave</span></md-button>
    </md-dialog-actions>
  </form>
</md-dialog>