<div class="account-info">
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="{{ 'USER.CPACITY_STORAGE' | translate }}" layout layout-align="center">
        <md-content class="md-padding">
          <section class="md-whiteframe-5dp" layout="column">
            <div class="md-actions" layout layout-align="end center">
              <md-header class="md-display-1" translate>USER.CPACITY_STORAGE</md-header>
              <span flex></span>
            </div>
            <md-divider></md-divider>
            <div
              class="progress-state"
              layout="column" layout-align="center center"
              ng-if="storage.requesting"
            >
              <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
              <div class="md-headline" translate>UTILS.LOADING</div>
            </div>
            <div layout="cloumn" ng-if="!storage.requesting">
              <div flex="50">
                <md-list>
                  <md-list-item ng-repeat="item in storage.canvas" class="md-2-line" layout="row" layout-align="center none">
                    <md-content class="md-list-item-text" layout="row" layout-align="center">
                      <h3 class="md-body-2" translate>{{ item.text }}</h3>
                      <span flex></span>
                      <p class="md-caption" ng-if="storage.options.formatGB">{{ (item.value / 1024) | number:0}} GB</p>
                      <p class="md-caption" ng-if="!storage.options.formatGB">{{ item.value | number:0}} MB</p>
                      <span flex></span>
                    </md-content>
                    </md-list-item>
                </md-list>
              </div>
              <div flex="50">
                <nvd3 options="storage.options" data="storage.data" class="with-3d-shadow with-transitions" ng-if="storage.data[0].y != -1"></nvd3>
                <span ng-if="storage.data[0].y == -1" layout-align="center center">unlimited</span>
              </div>
            </div>
            <!--<md-switch class="md-secondary" ng-model="storage.options.formatGB"><span translate>USER.DISPLAY</span> GB</md-switch>-->
            <div layout="row" layout-align="center center">
              <md-button
                aria-label="confirm" ng-click="storage.confirm()">
                <md-icon class="md-raised">done</md-icon>
                <span translate>UTILS.CONFIRM</span>
              </md-button>
            </div>
          </section>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
