<md-dialog class="create-dialog" aria-label="Create Bucket Dialog">
  <form name="@A.1">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Bucket</h2>
        <span flex></span>
        
        <md-button 
          class="md-icon-button" aria-label="Close Create Bucket Dialog" 
          ng-click="@A.2"
        >
          <md-icon class="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="dialog-description">
          <h2 class="md-title">
            The name that you choose must be unique across all existing bucket names in S3 Portal.
          </h2>
        </div>
        
        <md-input-container class="md-block md-icon-right">
          <label>Bucket Name</label>
          <input
            name="@A.3" required
            ng-model="@A.4"
            ng-readonly="@A.5"
          >
          
          <md-progress-circular 
            class="md-primary" md-diameter="30" md-mode="indeterminate" 
            ng-show="@A.6"
          ></md-progress-circular>
          
          <md-icon class="icon-success" ng-show="@A.7">done</md-icon>

          <span class="md-caption text-warn" ng-show="@A.8">
            That bucket already exists! Please select a different name and try again.
          </span>
          
          <div ng-messages="@A.9" ng-if="@A.10">
            <div ng-messages-include="messages.html"></div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
      <md-button aria-label="Cancel" ng-click="@A.2">
        <span>Cancel</span>
      </md-button>
      
      <md-button
        aria-label="Create" class="md-primary" 
        ng-click="@A.11" 
        ng-disabled="@A.12"
      >
        <span>Create</span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>