<md-dialog class="input-dialog" aria-label="Create Bucket Dialog">
  <form name="create.form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>BUCKET.CREATE</h2>
        <span flex></span>

        <md-button
          class="md-icon-button" aria-label="Close Create Bucket Dialog"
          ng-click="create.cancel()"
        >
          <md-icon class="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="dialog-description">
          <h2 class="md-title" translate>
            BUCKET.CREATE_DESCRIPTION
          </h2>
        </div>

        <md-input-container class="md-block">
          <label translate>BUCKET.NAME</label>
          <input
            name="bucket" required bucket
            ng-model="create.bucket"
            ng-readonly="create.form.$submitted"
          >

          <span class="md-caption text-warn" ng-show="!create.form.bucket.$valid && create.form.bucket.$touched" translate>
            BUCKET.VALIDATE_ERROR
          </span>

          <span class="md-caption text-warn" ng-show="create.duplicated" translate>
            BUCKET.DUPLICATE_MESSAGE
          </span>

          <div ng-messages="create.form.bucket.$error" ng-if="create.form.bucket.$touched">
            <div ng-messages-include="messages.html"></div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button aria-label="Cancel" ng-click="create.cancel()">
        <span translate>UTILS.CANCEL</span>
      </md-button>

      <md-button
        ng-click="create.create()" type="submit"
        aria-label="Create" class="md-primary"
        ng-disabled="create.form.$invalid || create.form.$submitted"
      >
        <span translate>UTILS.CREATE</span>
        <md-progress-circular
          class="md-primary" md-mode="indeterminate"
          md-diameter="30" ng-show="create.form.$submitted"
        ></md-progress-circular>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
