<div class="panel-signup" layout="column" layout-paddings>
  <md-content class="radius-large md-whiteframe-1dp">

  <div class="panel-title text-center">
    <h1 class="no-margin">S3 Portal</h1>
  </div>

  <div class="panel-body">
    <md-subheader class="text-center">Create an account</md-subheader>
    <form name="signup.form">

      <md-input-container md-no-float ng-class="{'md-icon-right':signup.emailIsValid}" class="md-icon-left md-block">
        <md-icon class="icon-default" ng-class="{'md-warn': signup.emailIsInvalid}">email</md-icon>
        <md-progress-circular
          class="md-accent" md-mode="indeterminate"
          md-diameter="24" ng-show="signup.isCheckEmail"
        ></md-progress-circular>

        <input
          type="email" name="email" required email placeholder="Email"
          ng-model="signup.credentials.email"
          ng-readonly="signup.form.$submitted"
          ng-change="signup.checkEmail()"
        >

        <md-icon class="icon-success" ng-if="signup.emailIsValid">done</md-icon>

        <span class="md-caption text-warn" ng-show="signup.emailIsInvalid && signup.showEmailCheckedMessage">
          Someone already has that username. Try another?
        </span>

        <div
          ng-messages="signup.form.email.$error"
          ng-if="signup.form.email.$touched"
        >
          <div ng-messages-include="messages.html"></div>
        </div>
      </md-input-container>

      <md-input-container md-no-float class="md-icon-left md-block">
        <md-icon class="icon-default">lock</md-icon>

        <input
          name="password" type="password" placeholder="Password"
          required minlength="6"
          ng-model="signup.credentials.password"
          ng-readonly="signup.form.$submitted"
        >

        <div
          ng-messages="signup.form.password.$error"
          ng-if="signup.form.password.$touched"
        >
          <div ng-messages-include="messages.html">
            <i ng-init="minlength=6"></i>
          </div>
        </div>
      </md-input-container>

      <md-input-container md-no-float class="md-icon-left md-block">
        <md-icon class="icon-default">lock</md-icon>

        <input
          name="password_confirmation" type="password" placeholder="Retype Password"
          required match="signup.credentials.password"
          ng-model="signup.credentials.password_confirmation"
          ng-readonly="signup.form.$submitted"
        >

        <div
          ng-messages="signup.form.password_confirmation.$error"
          ng-if="signup.form.password_confirmation.$touched"
        >
          <div ng-messages-include="messages.html"></div>
        </div>
      </md-input-container>

      <md-button class="md-raised md-primary btn-block" type="submit"
        ng-disabled="signup.form.$invalid || signup.form.$submitted || signup.emailIsInvalid"
        ng-click="signup.submit()"
      >
        <span ng-hide="signup.form.$submitted">Sign Up</span>
        <md-progress-circular
          class="md-accent" md-mode="indeterminate"
          md-diameter="30" ng-hide="! signup.form.$submitted"
        ></md-progress-circular>
      </md-button>

    </form>

    <div class="panel-footer text-center md-caption">
      <span>Already have an account? </span>
      <a ui-sref="auth.signin">Log in</a>
    </div>
  </div>

  </md-content>
</div>
