
<div class="panel-login" layout="column" layout-paddings>
    <md-content class="radius-large md-whiteframe-1dp">
        <div class="panel-title text-center">
            <h1 class="no-margin">S3 Portal</h1>
        </div>
        
        <div class="panel-body">
            <md-subheader class="text-center">Log in to your account</md-subheader>
            <form name="@A.1">
                <md-input-container md-no-float class="md-icon-left md-block">
                    <md-icon class="material-icons icon-default" ng-class="{'icon-warn:@A.2'}">email</md-icon>
                    
                    <input name="@A.3" ng-model="@A.4" type="email" placeholder="Email" required ng-email="@A.5" ng-readonly="@A.6" >
                    
                    <span class="md-caption text-warn" ng-show="@A.7">Sorry, we don't recognize that email.</span>
                    
                    <div ng-show="@A.8" ng-messages="@A.9">
                        <div ng-messages-include="@A.10"></div>
                    </div>
                </md-input-container>
                
                <md-input-container md-no-float class="md-icon-left md-block">
                    <md-icon class="material-icons icon-default">lock</md-icon>
                    
                    <input name="@A.11" ng-model="@A.12" type="password" placeholder="Password" required ng-readonly="@A.6" >
                    
                    <span class="md-caption md-warn" ng-show="@A.13">The email and password you entered don't match.</span>
                    
                    <div ng-show="@A.14" ng-messages="@A.15">
                        <div ng-messages-include="@A.10"></div>
                    </div>
                </md-input-container>
                
                <md-button class="md-raised md-primary btn-block" type="submit" ng-disabled="@A.16" ng-click="@A.17">
                    <span ng-hide="@A.18">Login</span>
                    <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="30" ng-hide="!@A.18"></md-progress-circular>
                </md-button>
            </form>
            
            <div class="panel-footer text-center md-caption">
                <span>Don't have an account? </span>
                <a href="@A.19" ng-href="@A.19">Create an account</a>
            </div>
        </div>
    </md-content>
</div>