<md-dialog class="input-dialog" aria-label="Create Folder Dialog">
  <form name="move.form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>UTILS.MOVE</h2>
        <span flex></span>

        <md-button
          class="md-icon-button" aria-label="Close Move File Dialog"
          ng-click="move.cancel()"
        >
          <md-icon class="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <span translate class="ng-binding">FILE.MOVE_CONTENT</span>
      </div>
      <div class="md-dialog-content">

         <table class="table table-cursor table-hover move-list-title md-padding">
          <thead>
            <tr>
              <th class="icon-width"><md-icon>done</md-icon></th>
              <th translate>FILE.SELECTED_ITEMS</th>
            </tr>
          </thead>
        </table>
        
        <div class="move-file-list">
          <md-list>
            <md-list-item
              aria-label="Click a file"
              ng-repeat="f in move.fileSelected"
            >
              <md-icon ng-bind="f.icon"></md-icon>
              <p class="break-word flex-grow">
                <span ng-bind="f.display"></span>
              </p>
            </md-list-item>
          </md-list>
        </div>

        <table class="table table-cursor table-hover move-list-title md-padding">
          <thead>
            <tr>
              <th class="icon-width"><md-icon>assignment_returned</md-icon></th>
              <th>
                <div layout="row">
                  <ul class="move-breadcrumb md-body-2">
                    <!--move destination breadcrumb placed here-->
                    <li>
                        test
                    </li>
                    <li>
                        test
                    </li>
                    <li>
                      <a href="">
                        test
                      </a>
                    </li>  

                  </ul>
                </div>
              </th>
            </tr>
          </thead>
        </table>
        
        <div class="move-file-list">
          <md-list>
            <md-list-item
              aria-label="Click a file"
              ng-repeat="f in move.data"
              ng-class="{ checked: f.checked }"
              ng-click="move.clickFile(f)"
              ng-DBlClick="move.doubleClick(f)"
            >
              <md-icon ng-bind="f.icon"></md-icon>
              <p class="break-word flex-grow">
                <span ng-bind="f.display"></span>
              </p>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button aria-label="Cancel" ng-click="move.cancel()">
        <span translate>UTILS.CANCEL</span>
      </md-button>

      <md-button
        type="submit" ng-click="move.move()"
        aria-label="move here" class="md-primary"
        ng-disabled="(move.fileSelected[0].isFolder && 
          move.fileSelected[0].Key === move.paths + move.fileSelected[0].display +'/') ||
          (!move.fileSelected[0].isFolder && 
          move.fileSelected[0].Key === move.paths + move.fileSelected[0].display)"
      >
        <span translate>UTILS.MOVE</span>
        <md-progress-circular
          class="md-primary" md-mode="indeterminate"
          md-diameter="30" ng-show="move.form.$submitted"
        ></md-progress-circular>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
