

/* breadcrumb ------------------------------------------- */
.move-breadcrumb {
  display: inherit;
  list-style: none;
  margin: 0;
  padding: 0 4px;
  height: 24px;
}

.move-breadcrumb > li {
  font-size: 16px;
  color: #1976D2;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.move-breadcrumb > li:last-child > a {
  color: #999;
  cursor: text;
  pointer-events: none;
  text-decoration: none;
}

.move-breadcrumb > li+li:before {
  color: gray;
  content: "\/";
  padding: 0 7px;
}
/*-------------------------------------------------------- */

.table > thead > tr > th.icon-width {
  padding-left: 15px;
}
