
/**
 * @author Jamie jamie.h@inwinstack.com
 */

.md-default-theme md-dialog-actions button:last-child {
  color: #FF6D00 !important;
}

md-dialog-content md-input-container.md-icon-right md-progress-circular {
  margin: 0;
  right: 2px;
  left: auto;
}

md-dialog.input-dialog {
  width: 600px;
}

.dialog-description {
  margin-bottom: 30px;
}
