
/**
 * @author Jamie jamie.h@inwinstack.com
 */

/* panel ------------------------------------------------- */
.panel-signup,
.panel-login {
  border-radius: 4px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 200px;
  width: 360px;
}

.panel-title {
  background: #616161;
  color: #fff;
  height: 50px;
  padding-top: 12px;
}

.panel-body {
  padding: 0 8px 8px 8px;;
}

.panel-footer {
  margin: 20px;
}

/* button ------------------------------------------------ */
.btn-block {
  display: block;
  margin: 6px 0;
  width: 100%;
}

button md-progress-circular {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 3px;
}

/* icon ---------------------------------------------------*/
.icon-default {
  color: #616161;
}

.icon-success {
  color: #00BCD4;
}

.icon-warn {
  color: #FF6D00;
}

/* text ------------------------------------------------- */
.text-warn {
  color: #FF6D00;
}

.text-success {
  color: #00BCD4;
}

/* input container -------------------------------------- */
md-input-container.md-input-invalid md-icon {
  color: #FF9800;
}

md-input-container md-progress-circular {
  left: 2px;
  position: absolute;
  right: auto;
  top: 5px;
}


/* breadcrumb ------------------------------------------- */
.breadcrumb {
  display: inherit;
  list-style: none;
  margin: 0;
  padding: 0 8px;
}

.breadcrumb > li > a {
  color: #1976D2;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.breadcrumb > li:last-child > a {
  color: #999;
  cursor: text;
  pointer-events: none;
}

.breadcrumb>li+li:before {
  color: gray;
  content: "/\00a0";
  padding: 0 5px;
}

/* toolbar ----------------------------------------------- */
@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
  .md-toolbar-tools {
    height: 64px;
    max-height: 64px;
  }
}

@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
  .md-toolbar-tools {
    height: 64px;
    max-height: 64px;
  }
}

/* page state -------------------------------------------- */
.progress-state,
.empty-state,
.load-fail-state {
  margin-top: 10%;
}
