<header id="header-container">
  <div id="top-navbar" layout="row" ui-view="top-navbar"></div>

  <div id="action-navbar" layout="row" ui-view="action-navbar"></div>

  <div id="breadcrumb-container" layout="row" ui-view="breadcrumb"></div>
</header>

<section id="container" layout="row" class="layout-scrollable">
  <article id="list-container" flex layout="column" ui-view></article>

  <article
    id="info-container" flex layout="column"
    ng-show="layout.$layout.state.transfers"
    ui-view="transfer"
  ></article>
</section>
