
/**
 * @author Jamie jamie.h@inwinstack.com
 */

.layout-scrollable {
  overflow: auto;
}

#header-container {
  position: absolute;
  width: 100%;
}

#breadcrumb-container {
  border-bottom: 2px solid #E0E0E0;
}

#container {
  height: 100%;
  padding-top: 146px;
  position: absolute;
  width: 100%;
}

#list-container {
  border-right: 4px solid #E0E0E0;
}