
    <!--<md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Normal</span>
      </div>
    </md-toolbar>-->
    <md-sidenav layout="column" md-is-locked-open="true" md-whiteframe="4" class="md-sidenav-left" md-component-id="left" style="width: 95%">
        <md-content>
          <md-list>
            <md-list-item ui-sref="bucket">
              <md-icon class="material-icons md-dark md-24">cloud</md-icon>
              <p class="md-body-2" translate>Bucket</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ui-sref="manager.list">
              <md-icon class="material-icons md-dark md-24">supervisor_account</md-icon>
              <p class="md-body-2" translate>MANAGER.USER_LIST</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ui-sref="user.storage">
              <md-icon class="material-icons md-dark md-24">account_circle</md-icon>
              <p class="md-body-2" translate>SETTINGS.ACCOUNT</p>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>
        </md-content>
    </md-sidenav>
