.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

md-sidenav.md-sidenav-left md-content{
  height: calc(100vh - 64px);
}

md-sidenav.md-sidenav-left md-list {
  padding-top: 0px;
}

md-sidenav.md-sidenav-left md-list > md-list-item {
  border-left: solid 5px rgba(0, 0, 0, 0);
}

md-sidenav.md-sidenav-left md-list > md-list-item.bucket-view:hover {
  border-left: solid 5px #CE2624;
}

md-sidenav.md-sidenav-left md-list > md-list-item.bucket-view > md-icon:hover {
  color: #CE2624;
}

md-sidenav.md-sidenav-left md-list > md-list-item.userlist-view:hover {
  border-left: solid 5px #028ED2;
}

md-sidenav.md-sidenav-left md-list > md-list-item.userlist-view > md-icon:hover {
  color: #028ED2;
}

md-sidenav.md-sidenav-left md-list > md-list-item.account-view:hover {
  border-left: solid 5px #5EA832;
}

md-sidenav.md-sidenav-left md-list > md-list-item.account-view > md-icon:hover {
  color: #5EA832;
}