<header id="header-container">
  <div id="top-navbar" layout="row" ui-view="top-navbar"></div>
</header>

<section id="container" layout="row" class="layout-scrollable">
  <div id="sidebar-container">
    <div layout="row" ui-view="sidebar"></div>
  </div>

  <div flex layout="column">
    <div id="manager-navbar" layout="row" ui-view="manager-navbar"></div>
    <div id="list-container" layout="row" class="layout-scrollable"></div>
    <md-content layout="row" flex>
        <article id="list-container" flex layout="column" ui-view></article>
    </md-content>
  </div>
</section>
