
/**
 * @author Jamie jamie.h@inwinstack.com, julius.j@inwinstack.com
 */

.file-list  md-list-item > .md-list-item-inner > p {
  padding: 0 15px;
}

.manager-checkbox-icon-width {
  width: 55px;
}

.manager-checkbox {
  margin: 0 auto;
}

/*
 *  user list table css
*/

table.user-list{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.user-list th{
  text-align: left;
  height: 48px;
  border-bottom: 3px solid #ddd;
  border-top: 0;
  color: #ABAFB0;
}

.user-list td{
  border-top: 1px solid #ddd;
  height: 48px;
  border-bottom: 1px solid #ddd;
}

.user-list td,.user-list th {
  padding: 8px;
}

.name-width {
  width: 25%;
}

.quota-width {
  width: 33%;
}

.time-width {
  text-align: right;
  padding-right: 50px;
}

.list-pagination {
  text-align: right;
  padding-right: 20px;
  height: 64px;
}

.pagination-button {
  min-width: 24px;
  margin: 6px 3px 6px 3px;
}

.icon-color {
  color: #ABAFB0;
}

.page-number {
  font-size: 14px;
  color: #7C7A7A;
  margin: 10px;
}

@media screen and (max-width: 960px) {
  .name-width {
    width: 40%;
  }

  .quota-width {
   width: 40%;
  }

  .role-width {
    text-align: right;
    padding-right: 50px;
  }

  .list-pagination {
    padding-right: 0px;
  }
}
