<md-toolbar class="md-menu-toolbar">
  <div class="md-toolbar-tools">
    <md-button
      class="md-raised"
      ng-click="managerNav.createAccountDialog($event)"
    >
      <span translate>MANAGER.CREATE_USER</span>
    </md-button>
    <md-button
      class="md-raised"
      ng-click="managerNav.delete()"
      ng-disabled="!managerNav.selectedOne"
    >
      <span translate>MANAGER.USER_DELETE</span>
    </md-button>
    <md-button
      class="md-raised"
      ng-click="managerNav.reset()"
      ng-disabled="!managerNav.selectedOne"
    >
      <span translate>MANAGER.USER_RESET</span>
    </md-button>

    <span flex></span>

    <md-button
      class="md-icon-button" aria-label="Refresh"
      ng-click="managerNav.refresh()"
    >
      <md-icon class="material-icons icon-default">refresh</md-icon>
    </md-button>
  </div>
</md-toolbar>