<md-toolbar class="md-menu-toolbar">
  <div class="md-toolbar-tools">
    <md-button
      class="md-raised md-primary" aria-label="create account"
      ng-click="managerNav.createAccountDialog($event)"
    >
      <md-icon class="material-icons">add</md-icon>
      <span translate>MANAGER.CREATE_USER</span>
    </md-button>
    <md-button
      class="md-raised" aria-label="delete account"
      ng-click="managerNav.delete()"
      ng-disabled="!managerNav.selectedOne"
    >
      <md-icon class="material-icons">delete_forever</md-icon>
      <span translate>MANAGER.USER_DELETE</span>
    </md-button>
    <md-button
      class="md-raised"
      ng-click="managerNav.reset()"
      ng-disabled="!managerNav.selectedOne"
    >
      <span translate>MANAGER.USER_RESET</span>
    </md-button>

    <span flex></span>

    <md-button
      class="md-icon-button" aria-label="Search"
      ng-click="managerNav.showSearchBar()"
    >
      <md-icon class="material-icons icon-default">search</md-icon>
    </md-button>
    
    <md-input-container class="list-search"  flex ng-show="managerNav.showSearchBarInput">
        <input ng-model="managerNav.searchText">
    </md-input-container> 

    <md-button
      class="md-icon-button" aria-label="Refresh"
      ng-click="managerNav.refresh()"
    >
      <md-icon class="material-icons icon-default">refresh</md-icon>
    </md-button>
  </div>
</md-toolbar>
