<md-toolbar class="md-menu-toolbar">
  <div class="md-toolbar-tools">
    <md-button
      class="md-raised md-primary" aria-label="Upload"
      ng-click="actionNav.upload($event)"
      ng-if="actionNav.isFile()"
    >
      <md-icon class="material-icons">file_upload</md-icon>
      <span translate>Upload</span>
    </md-button>

    <md-button
      class="md-raised" aria-label="Create"
      ng-class="{'md-primary': !actionNav.isFile()}"
      ng-click="actionNav.create($event)"
    >
      <md-icon class="material-icons" ng-hide="actionNav.isFile()">add</md-icon>
      <md-icon class="material-icons" ng-show="actionNav.isFile()">create_new_folder</md-icon>
      <span ng-hide="actionNav.isFile()">Create Bucket</span>
      <span ng-show="actionNav.isFile()">Create Folder</span>
    </md-button>

    <md-menu md-offset="0 44">
      <md-button
        class="md-raised" aria-label="Actions Menu"
        ng-click="$mdOpenMenu($event)"
      >
        <span>Actions</span>
        <md-icon class="icon-default">arrow_drop_down</md-icon>
      </md-button>

      <md-menu-content width="4">
        <md-menu-item ng-if="actionNav.isFile()">
          <md-button
            aria-label="Open File"
            ng-click="actionNav.open()"
            ng-disabled="@A.15"
          >
            <span translate>Open</span>
          </md-button>
        </md-menu-item>

        <md-menu-item ng-if="actionNav.isFile()">
          <md-button
            aria-label="Download File"
            ng-click="actionNav.download()"
            ng-disabled="actionNav.downloadButton"
          >
            <span translate>Download</span>
          </md-button>
        </md-menu-item>

        <md-menu-item ng-if="actionNav.isFile()">
          <md-button
            aria-label="Upload"
            ng-click="actionNav.upload()"
          >
            <span translate>Upload</span>
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button
            aria-label="Create"
            ng-click="actionNav.create($event)"
          >
          <span ng-hide="actionNav.isFile()">Create Bucket</span>
          <span ng-show="actionNav.isFile()">Create Folder</span>
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button
            aria-label="Delete"
            ng-click="actionNav.delete()" ng-disabled="@A.4"
          >
            <span ng-hide="actionNav.isFile()">Delete Bucket</span>
            <span ng-show="actionNav.isFile()">Delete</span>
          </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
          <md-button
            aria-label="Refresh"
            ng-click="actionNav.refresh()"
          >
            <span>Refresh</span>
          </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
          <md-button
            aria-label="Properties"
            ng-click="actionNav.openProperties()" ng-disabled="@A.18"
          >
            <span>Properties</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <span flex></span>

    <md-button
      class="md-raised" aria-label="None"
      ng-click="actionNav.closeSidePanels()"
      ng-disabled="! (actionNav.properties || actionNav.transfers)"
    >
      <span>None</span>
    </md-button>

    <md-button
      class="md-raised" aria-label="Properties"
      ng-click="actionNav.openProperties()" ng-disabled="actionNav.properties"
    >
      <md-icon class="material-icons icon-default">info_outline</md-icon>
      <span>Properties</span>
    </md-button>

    <md-button
      class="md-raised" aria-label="Transfers"
      ng-click="actionNav.openTransfers()" ng-disabled="actionNav.transfers"
    >
      <span>Transfers</span>
    </md-button>

    <md-button
      class="md-icon-button" aria-label="Refresh"
      ng-click="actionNav.refresh()"
    >
      <md-icon class="material-icons icon-default">refresh</md-icon>
    </md-button>
  </div>
</md-toolbar>
