<md-toolbar class="md-menu-toolbar">
  <div class="md-toolbar-tools">
    <md-button
      class="md-raised md-primary" aria-label="Upload"
      ng-click="actionNav.create($event)"
    >
      <md-icon class="material-icons" ng-hide="actionNav.isFile()">add</md-icon>
      <md-icon class="material-icons" ng-show="actionNav.isFile()">file_upload</md-icon>
      <span ng-hide="actionNav.isFile()" translate>BUCKET.CREATE</span>
      <span ng-show="actionNav.isFile()" translate>UTILS.UPLOAD</span>
    </md-button>

    <md-button
      class="md-raised" aria-label="Create Folder"
      ng-click="actionNav.createFolder($event)"
      ng-if="actionNav.isFile()"
    >
      <md-icon class="material-icons">create_new_folder</md-icon>
      <span translate>FILE.CREATE_FOLDER</span>
    </md-button>

    <md-menu md-offset="0 44">
      <md-button
        class="md-raised" aria-label="Actions Menu"
        ng-click="$mdOpenMenu($event)"
      >
        <span translate>ACTION_NAVBAR.ACTIONS</span>
        <md-icon class="icon-default">arrow_drop_down</md-icon>
      </md-button>

      <md-menu-content width="4">
        <md-menu-item ng-if="actionNav.isFile()">
          <md-button
            aria-label="Open File"
            ng-click="actionNav.open()"
            ng-disabled="@A.15"
          >
            <span translate>UTILS.OPEN</span>
          </md-button>
        </md-menu-item>

        <md-menu-item ng-if="actionNav.isFile()">
          <md-button
            aria-label="Download File"
            ng-click="actionNav.download()"
            ng-disabled="actionNav.downloadButton"
          >
            <span translate>UTILS.DOWNLOAD</span>
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button
            aria-label="Create"
            ng-click="actionNav.create()"
          >
            <span ng-hide="actionNav.isFile()" translate>BUCKET.CREATE</span>
            <span ng-show="actionNav.isFile()" translate>UTILS.UPLOAD</span>
          </md-button>
        </md-menu-item>

        <md-menu-item ng-if="actionNav.isFile()">
          <md-button
            aria-label="Create Folder"
            ng-click="actionNav.createFolder($event)"
          >
          <span translate>FILE.CREATE_FOLDER</span>
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button
            aria-label="Delete"
            ng-click="actionNav.delete()"
            ng-disabled="
              ! actionNav.fileSelected && actionNav.isFile() ||
              ! actionNav.bucketSelected && ! actionNav.isFile()
            ">
            <span ng-hide="actionNav.isFile()" translate>BUCKET.DELETE</span>
            <span ng-show="actionNav.isFile()" translate>UTILS.DELETE</span>
          </md-button>
        </md-menu-item>

        <md-menu-item ng-if="actionNav.isFile()">
          <md-button
            aria-label="Rename"
            ng-click="actionNav.rename($event)"
            ng-disabled="
              ! (actionNav.fileSelectedOne && actionNav.folderSelected)
            ">
            <span ng-show="actionNav.isFile()" translate>UTILS.RENAME</span>
          </md-button>
        </md-menu-item>

        <md-menu-item ng-if="actionNav.isFile()">
          <md-button
            aria-label="Move"
            ng-click="actionNav.move($event)"
            ng-disabled=>
            <span ng-show="actionNav.isFile()" translate>UTILS.MOVE</span>
          </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
          <md-button
            aria-label="Refresh"
            ng-click="actionNav.refresh()"
          >
            <span translate>UTILS.REFRESH</span>
          </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
          <md-button
            aria-label="Properties"
            ng-click="actionNav.openProperties()" ng-disabled="@A.18"
          >
            <span translate>ACTION_NAVBAR.PROPERTIES</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <span flex></span>

    <md-button
      class="md-raised" aria-label="None"
      ng-click="actionNav.closeSidePanels()"
      ng-disabled="! (actionNav.properties || actionNav.transfers)"
    >
      <span translate>ACTION_NAVBAR.NONE</span>
    </md-button>

    <md-button
      class="md-raised" aria-label="Properties"
      ng-click="actionNav.openProperties()" ng-disabled="actionNav.properties"
    >
      <md-icon class="material-icons icon-default">info_outline</md-icon>
      <span translate>ACTION_NAVBAR.PROPERTIES</span>
    </md-button>

    <md-button
      class="md-raised" aria-label="Transfers"
      ng-click="actionNav.openTransfers()" ng-disabled="actionNav.transfers"
    >
      <span translate>ACTION_NAVBAR.TRANSFERS</span>
    </md-button>

    <md-button
      class="md-icon-button" aria-label="Refresh"
      ng-click="actionNav.refresh()"
    >
      <md-icon class="material-icons icon-default">refresh</md-icon>
    </md-button>
  </div>
</md-toolbar>
