<md-content layout-padding>
  <div class="md-toolbar-tools">
    <md-input-container md-theme="input" flex>
          <label>&nbsp;</label>
          <md-icon>search</md-icon>
          <input ng-model="list.searchText" placeholder="enter search">
    </md-input-container>
  </div>  
  <div
    class="progress-state"
    layout="column" layout-align="center center"
    ng-if="list.requesting"
  >
    <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
    <div class="md-headline" translate>UTILS.LOADING</div>
  </div>

  <div
    class="md-whiteframe-4dp"
    ng-if="list.data.length && ! list.requesting && ! list.error"
  >
    <md-content layout-padding>
    <table class="user-list">
      <thead>
        <tr>
          <th class="manager-checkbox-icon-width"></th>
          <th><span translate>MANAGER.USER_ACCOUNT</span></th>
          <th><span class="ratio-width" translate><span class="time-title-width">MANAGER.USER_QUOTA</span></th>
          <th class="role-width"><span translate>MANAGER.USER_ROLE</span></th>
          <th class="time-width" hide show-gt-sm show-gt-lg><span class="time-title-width" translate>MANAGER.USER_REGISTER_TIME</span></th>
        </tr>
      </thead>
      <tr ng-repeat="user in list.data | filter: list.searchText">
        <td>
          <md-checkbox style="margin: 0 auto"
            aria-label="Get check"
            ng-checked="user.checked"
            ng-click="list.selectAccount(user)"
          ></md-checkbox>
        </td>
        <td class="name-width" ng-bind="user.name"></td>
        <td class="quota-width">
          ({{ user.used_size_kb * 1024 | filesize }}/{{ user.total_size_kb * 1024 | filesize }}){{ user.quota * 100 | number:2 }}%
          <md-button
            aria-label="Quota Setting" class="md-icon-button"
            ng-click="list.createQuotaSettingDiag($event, user)"
          >
            <md-icon>settings</md-icon>
          </md-button>
          </td>
        <td class="role-width" ng-bind="user.role"></td>
        <td class="time-width" hide show-gt-sm show-gt-lg>
          <span
            class="inline-block"
            ng-bind="(user.created_at | date: 'yyyy-MM-dd')">
          </span>
        </td>
      </tr>
    </table>

      <div layout="row" layout-align="end center" class="list-pagination">
        <!--<label for="rows per page"  class="page-number"  hide show-gt-sm show-gt-lg> Rows Per Page: </label>
        <md-select  aria-label="rows per page" ng-model="rowPerPage" 
          placeholder="5" class="md-no-underline page-number" hide show-gt-sm show-gt-lg>
          <md-option ng-repeat="rowOptions in list.limitOptions" ng-value="rowOptions" ng-bind="rowOptions"></md-option>
        </md-select>-->

        <label for="page number select"  class="page-number"> Page: </label>
        <md-select  aria-label="page number select" ng-model="list.query.page" placeholder="1" class="md-no-underline page-number">
          <md-option ng-repeat="options in list.query.pageOptions" ng-value="options"  ng-bind="options"></md-option>
        </md-select>

        <span class="page-number" style="margin:right 0"> {{list.currentIndexInitial}} - {{list.currentIndexEnd}} of {{list.currentIndexEnd}}</span>

        <md-button class="pagination-button"
          aria-label="navigate first"
          ng-click="list.firstPageNumber()"
        >
          <md-icon class="icon-color">first_page</md-icon>
        </md-button>

        <md-button class="pagination-button"
          aria-label="navigate before"
          ng-click="list.previousPageNumber()"
        >
          <md-icon class="icon-color">chevron_left</md-icon>
        </md-button>

        <span class="page-number"> {{list.query.page}} </span>

        <md-button class="pagination-button"
          aria-label="navigate next"
          ng-click="list.nextPageNumber()"
        >
          <md-icon class="icon-color">chevron_right</md-icon>
        </md-button>

        <md-button class="pagination-button"
          aria-label="navigate last"
          ng-click="list.lastPageNumber()"
        >
          <md-icon class="icon-color">last_page</md-icon>
        </md-button>
      </div>
    </md-content>
  </div>

  <div
    class="load-fail-state"
    layout="column" layout-align="center center"
    ng-if="list.error && ! list.requesting"
  >
    <div class="md-headline" translate>BUCKET.ERROR_MESSAGE</div>
    <div class="md-subhead" translate>BUCKET.REFRESH_MESSAGE</div>

    <md-button
      class="md-icon-button" aria-label="Refresh"
      ng-click="list.refresh()"
    >
      <md-icon class="icon-default">refresh</md-icon>
    </md-button>
  </div>
</md-content>
