<md-content layout-padding>
  <div
    class="md-whiteframe-4dp"
    ng-if="bucket.data.length && ! bucket.requesting && ! bucket.error"
  >
    <table class="table table-cursor table-hover">
      <thead>
        <tr>
          <th style="width:48px;"></th>
          <th>Name</th>
        </tr>
      </thead>
    </table>

    <md-list>
      <md-list-item ng-class="{checked:message.selected}" ng-repeat="bucket in bucket.data">
        <md-checkbox ng-model="message.selected"></md-checkbox>
        <p class="break-word flex-grow">
          <span ng-bind="bucket.Name"></span>
        </p>
      </md-list-item>
    </md-list>
  </div>

  <div
    class="progress-state"
    layout="column" layout-align="center center"
    ng-if="bucket.requesting"
  >
    <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
    <div class="md-headline">Loading...</div>
  </div>

  <div
    class="empty-state"
    layout="column" layout-align="center center"
    ng-if="! bucket.data.length && ! bucket.requesting && ! bucket.error"
  >
    <div class="md-headline">Looks like you don't have any Bucket</div>
    <div class="md-subhead">Don't worry. It's easy to create one.</div>

    <md-button
      class="md-raised md-primary" aria-label="Create Bucket"
      ng-click="bucket.createBucket($event)"
    >
      <md-icon>add</md-icon>
      <span>Create Bucket</span>
    </md-button>
  </div>

  <div
    class="load-fail-state"
    layout="column" layout-align="center center"
    ng-if="bucket.error && ! bucket.requesting"
  >
    <div class="md-headline">Oops, your connection seems off...</div>
    <div class="md-subhead">Don't worry. You can refresh to try again.</div>

    <md-button
      class="md-icon-button" aria-label="Refresh"
      ng-click="bucket.$bucket.getBuckets()"
    >
      <md-icon class="icon-default">refresh</md-icon>
    </md-button>
  </div>
</md-content>