<md-content layout-padding>
  <div
    class="md-whiteframe-4dp"
    ng-if="bucket.data.length && ! bucket.requesting && ! bucket.error"
  >
    <table class="table table-cursor table-hover">
      <thead>
        <tr>
          <th style="width:24px;"></th>
          <th translate>UTILS.NAME</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="b in bucket.data" ng-class="{active:@A.3}">
          <td>
            <a ng-click="@A.4">
              <md-icon>info_outline</md-icon>
            </a>
          </td>
          <td ng-bind="b.Name" ng-click="bucket.selectBucket(b.Name)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="progress-state"
    layout="column" layout-align="center center"
    ng-if="bucket.requesting"
  >
    <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
    <div class="md-headline" translate>UTILS.LOADING</div>
  </div>

  <div
    class="empty-state"
    layout="column" layout-align="center center"
    ng-if="! bucket.data.length && ! bucket.requesting && ! bucket.error"
  >
    <div class="md-headline" translate>BUCKET.EMPTY_MESSAGE</div>
    <div class="md-subhead" translate>BUCKET.CREATE_MESSAGE</div>

    <md-button
      class="md-raised md-primary" aria-label="Create Bucket"
      ng-click="bucket.createBucket($event)"
    >
      <md-icon>add</md-icon>
      <span translate>BUCKET.CREATE</span>
    </md-button>
  </div>

  <div
    class="load-fail-state"
    layout="column" layout-align="center center"
    ng-if="bucket.error && ! bucket.requesting"
  >
    <div class="md-headline" translate>BUCKET.ERROR_MESSAGE</div>
    <div class="md-subhead" translate>BUCKET.REFRESH_MESSAGE</div>

    <md-button
      class="md-icon-button" aria-label="Refresh"
      ng-click="bucket.$bucket.getBuckets()"
    >
      <md-icon class="icon-default">refresh</md-icon>
    </md-button>
  </div>
</md-content>
