<md-content layout-padding>
  <div
    class="md-whiteframe-4dp"
    ng-if="bucket.data.length && ! bucket.requesting && ! bucket.error"
  >
    <table class="table table-cursor table-hover">
      <thead>
        <tr>
          <th class="checkbox-width"></th>
          <th translate>UTILS.NAME</th>
        </tr>
      </thead>
    </table>

    <md-list class="list" layout="column">
      <md-list-item
        aria-label="Bucket list item"
        ng-class="{ checked: b.checked }"
        ng-repeat="b in bucket.data"
        ng-click="bucket.doNothing()"
        ng-Dblclick="bucket.clickBucket(b.Name)"
      >
        <md-checkbox
          aria-label="checkbox of bucket list item"
          ng-checked="b.checked"
          ng-click="bucket.selectBucket(b.Name)"
        ></md-checkbox>
        <p class="break-word flex-grow">
          <span ng-bind="b.Name"></span>
        </p>
      </md-list-item>
    </md-list>
  </div>

  <div
    class="progress-state"
    layout="column" layout-align="center center"
    ng-if="bucket.requesting"
  >
    <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
    <div class="md-headline" translate>UTILS.LOADING</div>
  </div>

  <div
    class="empty-state"
    layout="column" layout-align="center center"
    ng-if="! bucket.data.length && ! bucket.requesting && ! bucket.error"
  >
    <div class="md-headline" translate>BUCKET.EMPTY_MESSAGE</div>
    <div class="md-subhead" translate>BUCKET.CREATE_MESSAGE</div>

    <md-button
      class="md-raised md-primary" aria-label="Create Bucket"
      ng-click="bucket.createBucket($event)"
    >
      <md-icon>add</md-icon>
      <span translate>BUCKET.CREATE</span>
    </md-button>
  </div>

  <div
    class="load-fail-state"
    layout="column" layout-align="center center"
    ng-if="bucket.error && ! bucket.requesting"
  >
    <div class="md-headline" translate>BUCKET.ERROR_MESSAGE</div>
    <div class="md-subhead" translate>BUCKET.REFRESH_MESSAGE</div>

    <md-button
      class="md-icon-button" aria-label="Refresh"
      ng-click="bucket.$bucket.getBuckets()"
    >
      <md-icon class="icon-default">refresh</md-icon>
    </md-button>
  </div>
  <!-- <p>{{ $auth.getPayload }}</p> -->
</md-content>
